<form action="{{ course.initiateLoginUrl|toString }}" name="ltiInitiateLoginForm" id="ltiInitiateLoginForm" method="post" encType="application/x-www-form-urlencoded">
    <input type="hidden" name="iss" value="{{ app.request.getSchemeAndHttpHost() }}"/>
    {% if ltiLoginHint == 'LtiDeepLinkingRequest' %}
    <input type="hidden" name="target_link_uri" value="{{ course.deepLinkingUrl|toString }}"/>
    {% endif %}
    {% if ltiLoginHint == 'LtiResourceLinkRequest' %}
        <input type="hidden" name="target_link_uri" value="{{ course.toolUrl|toString }}"/>
    {% endif %}
    <input type="hidden" name="login_hint" value="{{ ltiLoginHint }}"/>
    <input type="hidden" name="lti_message_hint" value="{{ ltiMessageHint }}"/>
    <input type="hidden" name="client_id" value="{{ course.clientId|toString }}"/>
    <input type="hidden" name="lti_deployment_id" value="{{ course.deploymentId|toString }}"/>
</form>
<script type="text/javascript">
    //<![CDATA[
    document.ltiInitiateLoginForm.submit();
    //]]>
</script>
