    {% extends 'base.html.twig' %}

    {% block title %}Edit Course{% endblock %}

    {% block body %}


        <h2 class="pb-2 border-bottom">Edit Course</h2>
        <script>
            $( document ).ready(function() {
                let searchParams = new URLSearchParams(window.location.search);
                $('#' + searchParams.get('tab')).click();
                $('#add_resource_button').on('click', function(e) {
                    $('#add_resource_form').toggleClass("d-none"); //you can list several class names
                    e.preventDefault();
                });
            });
        </script>

        <br />
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="tool-data" data-bs-toggle="tab" data-bs-target="#tool-data-tab" type="button" role="tab" aria-controls="nav-tool-data" aria-selected="true">Tool Data</button>
                <button class="nav-link" id="platform-data" data-bs-toggle="tab" data-bs-target="#platform-data-tab" type="button" role="tab" aria-controls="nav-platform-data" aria-selected="false">Platform Data</button>
                <button class="nav-link" id="resources" data-bs-toggle="tab" data-bs-target="#resources-tab" type="button" role="tab" aria-controls="nav-resources" aria-selected="false">Resources</button>
            </div>
        </nav>
        <br />
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="tool-data-tab" role="tabpanel" aria-labelledby="nav-tool-data">
                <form method="POST">
                <div class="mb-3">
                    <label for="tool-url" class="form-label">Course/Tool Name</label>
                    <input type="text" class="form-control" name="tool_name" id="tool-name" value="{{ course.toolName|toString }}">
                </div>
                <div class="mb-3">
                    <label for="tool-url" class="form-label">Tool URL</label>
                    <input type="url" class="form-control" name="tool_url" id="tool-url" value="{{ course.toolUrl|toString }}">
                </div>
                <div class="mb-3">
                    <label for="initiate-login-url" class="form-label">Initiate login URL</label>
                    <input type="url" class="form-control" name="initiate_login_url" id="initiate-login-url" value="{{ course.initiateLoginUrl|toString }}">
                </div>
                <div class="mb-3">
                    <label for="jwks-url" class="form-label">JWKS URL</label>
                    <input type="url" class="form-control" name="jwks_url" id="jwks-url" value="{{ course.jwksUrl|toString }}">
                </div>
                <div class="mb-3">
                    <label for="deep-linking-url" class="form-label">Deep linking URL</label>
                    <input type="url" class="form-control" name="deep_linking_url" id="deep-linking-url" value="{{ course.deepLinkingUrl|toString }}">
                </div>
                    <input type="hidden" name="action" value="update_tool_data">
                    <button type="submit" class="btn btn-primary">Save settings</button>
                </form>
            </div>
            <div class="tab-pane fade" id="platform-data-tab" role="tabpanel" aria-labelledby="nav-platform-data">

                <div class="mb-3">
                    <label for="platform-id" class="form-label">Platform ID (issuer)</label>
                    <input type="url" class="form-control" name="platform_id" id="platform-id" value="{{ app.request.getSchemeAndHttpHost() }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="client-id" class="form-label">Client ID</label>
                    <input type="url" class="form-control" name="client_id" id="client-id" value="{{ course.clientId|toString }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="deployment-id" class="form-label">Deployment ID</label>
                    <input type="url" class="form-control" name="deployment_id" id="deployment-id" value="{{ course.deploymentId|toString }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="public-keyset-url" class="form-label">Public keyset URL</label>
                    <input type="url" class="form-control" name="public_keyset_url" id="public-keyset-url" value="{{ app.request.getSchemeAndHttpHost() }}/api/lti/certs" disabled>
                </div>

                <div class="mb-3">
                    <label for="access-token-url" class="form-label">Access token URL</label>
                    <input type="url" class="form-control" name="access_token_url" id="access-token-url" value="{{ app.request.getSchemeAndHttpHost() }}/api/lti/token" disabled>
                </div>

                <div class="mb-3">
                    <label for="authentication-request-url" class="form-label">Authentication request URL</label>
                    <input type="url" class="form-control" name="authentication-request-url" id="authentication_request_url" value="{{ app.request.getSchemeAndHttpHost() }}/api/lti/auth" disabled>
                </div>
            </div>
            <div class="tab-pane fade" id="resources-tab" role="tabpanel" aria-labelledby="nav-resources">
                <p><a href="{{ path('deeplinkLaunch', {'uuid': course.id|toString}) }}" target="_blank" class="btn btn-outline-secondary btn-lg">Choose Resources</a>
                    <button class="btn btn-outline-primary btn-lg" id="add_resource_button">Add Resource</button></p>

                <br />


                <div class="card text-left d-none" id="add_resource_form">
                    <div class="card-header">
                        Please fill in the form according to the information from the tool
                    </div>
                    <div class="card-body">
                        <form action="{{ path('add_resource', {'courseId': course.id|toString}) }}" method="POST">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Resource Id</span>
                                </div>
                                <input type="text" class="form-control" name="resource_id" placeholder="Resource Id" value="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Title</span>
                                </div>
                                <input type="text" class="form-control" name="title" placeholder="Title" value="">
                            </div>
                            <p class="card-text">
                                <textarea class="form-control" name="text" placeholder="Description"></textarea>
                            </p>
                            <button name="type" class="btn btn-success" value="save">Add Resource</button>
                        </form>
                    </div>
                </div>

                {% for resource in resources %}
                    <br />
                    <div class="card text-left">
                        <div class="card-header">
                            {{ resource.uuid|toString }}
                        </div>
                        <div class="card-body">
                            <form action="{{ path('edit', {'uuid': course.id|toString, 'tab': 'resources'}) }}" method="POST">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Resource Id</span>
                                </div>
                                <input type="text" class="form-control" name="resource_id" placeholder="Resource Id" value="{{ resource.resourceId|toString }}">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Title</span>
                                </div>
                                <input type="text" class="form-control" name="title" placeholder="Title" value="{{ resource.title|toString }}">
                            </div>
                                <input type="hidden" name="action" value="update_resource">
                                <input type="hidden" name="resource_uuid" value="{{ resource.uuid|toString }}">
                            <p class="card-text">
                                <textarea class="form-control" name="text" placeholder="Description">{{ resource.text|toString }}</textarea>
                            </p>
                            <button name="type" class="btn btn-success" value="save">Save changes</button>
                            <a href="{{ path('start', {'type': 'LtiResourceLinkRequest', 'uuid': resource.uuid|toString}) }}" class="btn btn-primary" target="_blank">Run Resource</a>
                                <a href="{{ path('delete_resource', {'uuid': resource.uuid|toString, 'courseId': course.id|toString}) }}" class="btn btn-danger" target="_blank">Delete</a>
                                {% if resource.dump|toString is not empty %}
                                <a href="{{ path('resource_info', {'resourceId': resource.id|toString}) }}" class="btn btn-warning" target="_blank">Dump</a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% endfor %}





            </div>
        </div>



 <br /> <br /> <br />

    {% endblock %}
